*, *::before, *::after {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

header{
  margin-bottom: 800px;
  margin-left: 200px;
}


body {
  
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: peru;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 800px;
  max-width: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 100px;
  box-shadow: 0 0 10px 2px;
  margin-right: 00px;
}

.gameOver{
  text-align: center;
  font-style: bold;
  font-size: medium;
}


.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  margin: 50px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 3px solid hsl(var(--hue), 100%, 40%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 10px 80px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: rgb(255, 0, 212);
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;

}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn, .save-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px, 60px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#questions {
  font-size: large;
  text-align: center;
}

.timer {
  display: block;
  margin-left: auto;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}